body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .margen {
    margin: 100px;
    }
    
    .tabla {
        width: 100%;
        text-align: left;
    }
    
    .tabla td {
        padding-top: 10px;
        padding-bottom: 10px;
    }
  
    #menu {
      background: slateblue;
      padding: 20px;
      font-size: 20px;
    }
  
    #menu a {
      color: white;
      padding-right: 50px;
    }
  
    body {
      margin: 0;
    }

    .center {
      text-align: center;
    }
    .rojo {
      color: red;
    }

    .pub_titulo {
      border-top: 1px solid slategray;
      cursor: pointer;
    }

    li {
      margin: 15px 0 15px 0;
    }